/**default*/
*{
    font-family: "微软雅黑";
    font-size:9pt;
    border:0;
    margin:0;
    padding:0;
}
body{font-family: '微软雅黑', serif; margin:0 auto;min-width:980px;}
html{overflow-x:hidden;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd{margin:0;padding:0;display:block;color:#333;}
.pagenxt,.pagepre {margin:0;padding:0;display:block;color:#333;}
a{text-decoration:none;color:#000;outline:none;}
a:hover{color:#00a4ac;text-decoration:none;}
a:focus {outline: none}
table{border-collapse:collapse;border-spacing: 0}
table .
cite{font-style:normal;}
h2{font-weight:normal;}

/**table样式，调用bootstrap*/
/**class="table table-bordered table-hover"*/

/**下拉框样式*/
.divPosition {
    padding-top: 10px;
}
.divgroup{
    display:-webkit-box;

}
label + div + div,label + div{
    margin-left:10px;
    width:250px;
}


/*page*/
.pagin{position:relative;margin-top:10px;padding:0 12px;height: 30px;line-height: 30px;}
.pagin .blue{color:#056dae;font-style:normal;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5; cursor:default;color:#737373;}
.pagin .paginList .paginItem:hover{background:#f5f5f5;}
.pagin .paginList .paginItem.more,.pagin .paginList .paginItem.more a:hover{ cursor:default;}
.pagin .paginList .paginItem.more:hover{background:#FFF;}
.pagin .paginList .paginItem.more a{color:#737373;}
.pagepre,
.pagepre-disable,
.pagenxt,
.pagenxt-disable{background:no-repeat center center; width:31px; height:28px;}
.pagepre{background-image:url(/static/image/pre.gif);}
.pagenxt{background-image:url(/static/image/next.gif);}
.pagepre-disable{background-image:url(/static/image/pre-disable.gif);}
.pagenxt-disable{background-image:url(/static/image/next-disable.gif);}

/**标题*/
.com-title{
    border-bottom: 2px solid #0a6999;
    font-size: 16px;
    color: #0a6999;
    height: auto;
}

/**ztree css*/
.ztree li span.button.diy02_ico_open{margin-right:2px; background: url(img/diy/1_open.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy02_ico_close{margin-right:2px; background: url(img/diy/1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.diy03_ico_docu{margin-right:2px; background: url(img/diy/3.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
